  <div class="service">
    <div class="service-left">
    </div>
    <div class="service-right">
      <div class="service-tagline">
        <h2>
          We want to turn your great ideas into compelling websites and apps, to help you drive action and generate results.
        </h2>
        <h2 class="tagline-last">
          Here’s how we do it.
        </h2>
      </div>
      <div class="service-list">
        <ul class="design-list">
        <p class="list-header">Design</p>
          <li>User Interface Design</li>
          <li>User Experience Design</li>
          <li>Web/App Design</li>
          <li>Wireframe and Prototyping</li>
        </ul>
        <ul class="dev-list">
          <p class="list-header">Development</p>
          <li>Frontend Development</li>
          <li>Backend Development</li>
          <li>Wechat Mini Programs</li>
          <li>Custom WordPress Development</li>
        </ul>
      </div>
    </div>
  <div>
